.l-content--center{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

.l-text--center{
    display:block;
    text-align:center;
}
